h1 { 
	font-family: Shrikhand;
	}
.column {
	width:20%;
	float:left;
	padding: 0.2em;
	box-sizing: border-box
}

img {
	max-width: 100%;
}

h2 {
	font-family: Amiri;
	font-size:14px;
	font-weight: 700;

}
h3 {
	font-family: Amiri;
	font-weight: 400;


}

