body {
    margin: 0px;
    border: 0px;


}

#navbar {
    width:100%;
    height:60px;
    background-color:#FC7586;
    color:white;
    position:fixed;
    top:0;
    font-family:'Oswald', sans-serif;
    word-spacing: 90px;
    padding-top: 10px;
}

#linkref {
    color:white;
    text-decoration:none;
    padding:15px;
    border-bottom: 2px solid white;
    padding-bottom: 5px;
}

#second {
    width:100%;
    height:60px;
    background-color:#FC7586;
    color:white;
    position:fixed;
    font-family:'Oswald', sans-serif;
    top:80px;
    word-spacing: 90px;
    padding-top: 10px;

}

#link {
     color:white;
    text-decoration:none;
    padding:15px;
    border-bottom: 2px solid white;
    padding-bottom: 5px;

}

#third {
     width:100%;
    height:60px;
    background-color:#FC7586;
    color:white;
    position:fixed;
    font-family:'Oswald', sans-serif;
    top:160px;
    word-spacing: 90px;
    padding-top: 10px;

}

#link2 {
    color:white;
    text-decoration:none;
    padding:15px;
    border-bottom: 2px solid white;
    padding-bottom: 5px;

}

#fourth {
     width:100%;
    height:60px;
    background-color:#FC7586;
    color:white;
    position:fixed;
    font-family:'Oswald', sans-serif;
    top:240px;
    word-spacing: 90px;
    padding-top: 10px;

}

#link3 {
    color:white;
    text-decoration:none;
    padding:15px;
    border-bottom: 2px solid white;
    padding-bottom: 5px;

}

#fifth {
     width:100%;
    height:60px;
    background-color:#FC7586;
    color:white;
    position:fixed;
    font-family:'Oswald', sans-serif;
    top:320px;
    word-spacing: 90px;
    padding-top: 10px;

}

#link4 {
    color:white;
    text-decoration:none;
    padding:15px;
    border-bottom: 2px solid white;
    padding-bottom: 5px;

}

#sixth {
    width:100%;
    height:60px;
    background-color:#FC7586;
    color:white;
    position:fixed;
    font-family:'Oswald', sans-serif;
    top:400px;
    word-spacing: 90px;
    padding-top: 10px;
}

#link5 {
    color:white;
    text-decoration:none;
    padding:15px;
    border-bottom: 2px solid white;
    padding-bottom: 5px;

}

#seventh {
     width:100%;
    height:60px;
    background-color:#FC7586;
    color:white;
    position:fixed;
    font-family:'Oswald', sans-serif;
    top:480px;
    word-spacing: 90px;
    padding-top: 10px;
}

#link6 {
    color:white;
    text-decoration:none;
    padding:15px;
    border-bottom: 2px solid white;
    padding-bottom: 5px;

}

#eigth {
     width:100%;
    height:60px;
    background-color:#FC7586;
    color:white;
    position:fixed;
    font-family:'Oswald', sans-serif;
    top:560px;
    word-spacing: 90px;
    padding-top: 10px;

}

#link7 {
    color:white;
    text-decoration:none;
    padding:15px;
    border-bottom: 2px solid white;
    padding-bottom: 5px;

}

#ninth {
    width:100%;
    height:60px;
    background-color:#FC7586;
    color:white;
    position:fixed;
    font-family:'Oswald', sans-serif;
    top:640px;
    word-spacing: 90px;
    padding-top: 10px;

}

#link8 {
    color:white;
    text-decoration:none;
    padding:15px;
    border-bottom: 2px solid white;
    padding-bottom: 5px;
}

#tenth {
    width:100%;
    height:60px;
    background-color:#FC7586;
    color:white;
    position:fixed;
    font-family:'Oswald', sans-serif;
    top:720px;
    word-spacing: 90px;
    padding-top: 10px;

}

#link9 {
    color:white;
    text-decoration:none;
    padding:15px;
    border-bottom: 2px solid white;
    padding-bottom: 5px;

}




