body {
    margin: 0px;
    border: 0px;
}

#first {
    width:100%;
    height:60px;
    background-color:#FC7586;
    color:white;
    font-family:'Oswald', sans-serif;
    word-spacing: 90px;
    padding-top: 10px;
    text-align: center;
    margin: auto;
}

#link {
    color:white;
    text-decoration:none;
    padding:15px;
    border-bottom: 2px solid white;
    padding-bottom: 5px;
}

#second {
    width:100%;
    height:60px;
    background-color:#FC7C8C;
    color:white;
    font-family:'Oswald', sans-serif;
    word-spacing: 90px;
    padding-top: 10px;
    text-align: center;
    margin: auto;
    margin-top: 15px;

}

#link2 {
     color:white;
    text-decoration:none;
    padding:15px;
    border-bottom: 2px solid white;
    padding-bottom: 5px;

}

#third {
     width:100%;
    height:60px;
    background-color:#FC8392;
    color:white;
    font-family:'Oswald', sans-serif;
    word-spacing: 90px;
    padding-top: 10px;
    text-align: center;
    margin: auto;
    margin-top: 15px;

}

#link3 {
    color:white;
    text-decoration:none;
    padding:15px;
    border-bottom: 2px solid white;
    padding-bottom: 5px;

}

#fourth {
     width:100%;
    height:60px;
    background-color:#FC8A99;
    color:white;
    font-family:'Oswald', sans-serif;
    word-spacing: 90px;
    padding-top: 10px;
    text-align: center;
    margin: auto;
    margin-top: 15px;

}

#link4 {
    color:white;
    text-decoration:none;
    padding:15px;
    border-bottom: 2px solid white;
    padding-bottom: 5px;

}

#fifth {
     width:100%;
    height:60px;
    background-color:#FC919F;
    color:white;
    font-family:'Oswald', sans-serif;
    word-spacing: 90px;
    padding-top: 10px;
    text-align: center;
    margin: auto;
    margin-top: 15px;

}

#link5 {
    color:white;
    text-decoration:none;
    padding:15px;
    border-bottom: 2px solid white;
    padding-bottom: 5px;

}

#sixth {
    width:100%;
    height:60px;
    background-color:#FC98A5;
    color:white;
    font-family:'Oswald', sans-serif;
    word-spacing: 90px;
    padding-top: 10px;
    text-align: center;
    margin: auto;
    margin-top: 15px;
}

#link6 {
    color:white;
    text-decoration:none;
    padding:15px;
    border-bottom: 2px solid white;
    padding-bottom: 5px;

}

#seventh {
     width:100%;
    height:60px;
    background-color:#FC9FAC;
    color:white;
    font-family:'Oswald', sans-serif;
    word-spacing: 90px;
    padding-top: 10px;
    text-align: center;
    margin: auto;
    margin-top: 15px;
}

#link7 {
    color:white;
    text-decoration:none;
    padding:15px;
    border-bottom: 2px solid white;
    padding-bottom: 5px;

}

#eigth {
     width:100%;
    height:60px;
    background-color:#FDA6B2;
    color:white;
    font-family:'Oswald', sans-serif;
    word-spacing: 90px;
    padding-top: 10px;
    text-align: center;
    margin: auto;
    margin-top: 15px;

}

#link8 {
    color:white;
    text-decoration:none;
    padding:15px;
    border-bottom: 2px solid white;
    padding-bottom: 5px;

}

#ninth {
    width:100%;
    height:60px;
    background-color:#FDADB8;
    color:white;
    font-family:'Oswald', sans-serif;
    word-spacing: 90px;
    padding-top: 10px;
    text-align: center;
    margin: auto;
    margin-top: 15px;

}

#link9 {
    color:white;
    text-decoration:none;
    padding:15px;
    border-bottom: 2px solid white;
    padding-bottom: 5px;
}

#tenth {
    width:100%;
    height:60px;
    background-color:#FDB4BF;
    color:white;
    font-family:'Oswald', sans-serif;
    word-spacing: 90px;
    padding-top: 10px;
    text-align: center;
    margin: auto;
    margin-top: 15px;

}

#link10 {
    color:white;
    text-decoration:none;
    padding:15px;
    border-bottom: 2px solid white;
    padding-bottom: 5px;

}

#eleven {
    width:100%;
    height:60px;
    background-color:#FDBCC5;
    color:white;
    font-family:'Oswald', sans-serif;
    word-spacing: 90px;
    padding-top: 10px;
    text-align: center;
    margin: auto;
    margin-top: 15px;

}

#link11 {
    color:white;
    text-decoration:none;
    padding:15px;
    border-bottom: 2px solid white;
    padding-bottom: 5px;

}

#twelve {
    width:100%;
    height:60px;
    background-color:#FDC3CC;
    color:white;
    font-family:'Oswald', sans-serif;
    word-spacing: 90px;
    padding-top: 10px;
    text-align: center;
    margin: auto;
    margin-top: 15px;
}


#link12 {
    color:white;
    text-decoration:none;
    padding:15px;
    border-bottom: 2px solid white;
    padding-bottom: 5px;

}

#thirteen {
    width:100%;
    height:60px;
    background-color:#FDCAD2;
    color:white;
    font-family:'Oswald', sans-serif;
    word-spacing: 90px;
    padding-top: 10px;
    text-align: center;
    margin: auto;
    margin-top: 15px;
}


#link13 {
    color:white;
    text-decoration:none;
    padding:15px;
    border-bottom: 2px solid white;
    padding-bottom: 5px;

}

#fourteen {
    width:100%;
    height:60px;
    background-color:#FED1D8;
    color:white;
    font-family:'Oswald', sans-serif;
    word-spacing: 90px;
    padding-top: 10px;
    text-align: center;
    margin: auto;
    margin-top: 15px;
}


#link14 {
    color:white;
    text-decoration:none;
    padding:15px;
    border-bottom: 2px solid white;
    padding-bottom: 5px;

}

#fifteen {
    width:100%;
    height:60px;
    background-color:#FED8DF;
    color:white;
    font-family:'Oswald', sans-serif;
    word-spacing: 90px;
    padding-top: 10px;
    text-align: center;
    margin: auto;
    margin-top: 15px;
}


#link15 {
    color:white;
    text-decoration:none;
    padding:15px;
    border-bottom: 2px solid white;
    padding-bottom: 5px;

}

#sixteen {
    width:100%;
    height:60px;
    background-color:#FEDFE5;
    color:white;
    font-family:'Oswald', sans-serif;
    word-spacing: 90px;
    padding-top: 10px;
    text-align: center;
    margin: auto;
    margin-top: 15px;
}


#link16 {
    color:white;
    text-decoration:none;
    padding:15px;
    border-bottom: 2px solid white;
    padding-bottom: 5px;

}

#seventeen {
    width:100%;
    height:60px;
    background-color:#FEE6EB;
    color:white;
    font-family:'Oswald', sans-serif;
    word-spacing: 90px;
    padding-top: 10px;
    text-align: center;
    margin: auto;
    margin-top: 15px;
}


#link17 {
    color:white;
    text-decoration:none;
    padding:15px;
    border-bottom: 2px solid white;
    padding-bottom: 5px;

}

#eighteen {
    width:100%;
    height:60px;
    background-color:#FEEDF2;
    color:white;
    font-family:'Oswald', sans-serif;
    word-spacing: 90px;
    padding-top: 10px;
    text-align: center;
    margin: auto;
    margin-top: 15px;
}


#link18 {
    color:white;
    text-decoration:none;
    padding:15px;
    border-bottom: 2px solid white;
    padding-bottom: 5px;

}

#nineteen {
    width:100%;
    height:60px;
    background-color:#FEF4F8;
    color:white;
    font-family:'Oswald', sans-serif;
    word-spacing: 90px;
    padding-top: 10px;
    text-align: center;
    margin: auto;
    margin-top: 15px;
}


#link19 {
    color:white;
    text-decoration:none;
    padding:15px;
    border-bottom: 2px solid white;
    padding-bottom: 5px;

}

#twenty {
    width:100%;
    height:60px;
    background-color:#FFFCFF;
    color:white;
    font-family:'Oswald', sans-serif;
    word-spacing: 90px;
    padding-top: 10px;
    text-align: center;
    margin: auto;
    margin-top: 15px;
}


#link20 {
    color:white;
    text-decoration:none;
    padding:15px;
    border-bottom: 2px solid white;
    padding-bottom: 5px;

}

@media screen and (max-width:500px ) {
    .column {width:100%;}

    }
}

