h1{
	font-family: 'Karla', sans-serif;
	text-align: left
	font-size:50px;
}

body {
	background-color: #FAFCE5;
}

.grey {
	width: 100px;
	height: 100px;
	background: #B8BAA9;
	position:relative;
    left: 500px;
    top:200px;

}

.blue {
	width: 100px;
	height: 100px;
	background: #4083B7;
	position:relative;
    left: 150px;
    top:400px;
 }


.black {
	width: 100px;
	height: 100px;
	background: black;
	position:relative;
    left: 250px;
    top:300px;
}

.red {
	width: 100px;
	height: 100px;
	background: red;
	position:relative;
    left: 500px;
    top:200px;
}

.black2 {
	width: 100px;
	height: 100px;
	background: black;
	position:relative;
    left: 680px;
    top:100px;
    animation: bobble 2s infinite;
}

.yellow {
	width: 100px;
	height: 100px;
	background: yellow;
	position:relative;
    left: 880px;
    top:0px;
}

.grey2 {
	width: 100px;
	height: 100px;
	background: #B8BAA9;
	position:relative;
    left: 500px;
    top:30px;

}

.column-left {
    float: left;
    position: relative;
    width: 35%;
    top:380px;
    font-family: 'Karla', sans-serif;
    font-size: 50px;

}

.column-center {
    position: relative;
    width: 30%;
    top:110px;
    left:36%;
    font-family: 'Karla', sans-serif;
    font-size: 16px;

}

.column-right {
	float: right;
    position: relative;
    width: 25%;
    top:-90px;
    left:-26%;
    font-family: 'Karla', sans-serif;
    font-size:16px;

}

@-webkit-keyframes super-rainbow {
    0%   { background: red; } 
    20%  { background: orange; }
    40%  { background: yellow; }
    60%  { background: green; }
    80%  { background: blue; }
    100% { background: violet; }
}

@-moz-keyframes super-rainbow {
    0%   { background: red; } 
    20%  { background: orange; }
    40%  { background: yellow; }
    60%  { background: green; }
    80%  { background: blue; }
    100% { background: violet; }
}

.red{
     background: red;  
     -webkit-animation: super-rainbow 10s infinite alternate linear; 
     -moz-animation: super-rainbow 10s infinite alternate linear; 

}

.blue{
     background: red;  
     -webkit-animation: super-rainbow 3s infinite alternate linear; 
     -moz-animation: super-rainbow 3s infinite alternate linear; 
}

.yellow{
     background: red;  
     -webkit-animation: super-rainbow 5s infinite alternate linear; 
     -moz-animation: super-rainbow 5s infinite alternate linear; 
}

.black2 {
	animation: bobble 2s infinite;
}

.black {
	animation: bobble 2s infinite;
	animation-direction: reverse;
}

@keyframes bobble {
    0% {
        transform: translate3d(0px, 0px, 0px);
        animation-timing-function: ease-in;
    }
    50% {
        transform: translate3d(0px, 100px, 0px);
        animation-timing-function: ease-out;
    }
    100% {
        transform: translate3d(0px, 200px, 0px);
    }


@media screen and (max-width:500px ) {
	.div {width:100%;}

}




