html,body {
    background-color: white;
}

h1{
    font-family: 'Fira Sans', sans-serif;
        color: black;
        font-size:50.5px;
}

.photoset-grid-basic {
	width:1000px;
	margin:0 auto;
}

.container div{
    width: 5%;
    height:150px;
    float:left;
    border:1px solid white;
    box-sizing: border-box;
}
.one  {
    background-color:#000000;
}

.two {
    background-color:#050505;
}

.three {
     background-color:#0B0B0A;
}

.four {
    background-color:#10100F;
}

.five {
     background-color:#161614;
}

.six {
     background-color:#1C1C1A;
}

.seven {
     background-color:#21211F;
}

.eight {
     background-color:#272724;
}

.nine {
     background-color:#2C2C29;
}

.ten {
     background-color:#32322E;
}

.eleven  {
    background-color:#383834;
}

.twelve {
    background-color:#454541;
}

.thirteen {
     background-color:#52524F;
}

.fourteen {
    background-color:#5F5F5C;
}

.fifteen {
     background-color:#6C6C6A;
}

.sixteen {
     background-color:#797977;
}

.seventeen {
     background-color:#868685;
}

.eightteen {
     background-color:#949493;
}

.nineteen {
     background-color:#A1A1A0;
}

.twenty {
     background-color:#AEAEAE;
}

@-webkit-keyframes super-black {
    0%   { background: black; } 
    20%   { background: white; } 
    40%  { background:yellow; }
    60%  { background: blue; }
    80%  { background: red; }
    100%  { background:black; }
}

.twenty{
    background: black;  
      -webkit-animation: super-black 4s infinite alternate linear; 
}

@media (max-width: 992px) {
    .photoset-grid-basic{
        width: 100%;
    }
}

@media (max-width: 768px) {
    .photoset-grid-basic{
        width: 100%;
    }
}

@media (max-width: 480px) {
    .photoset-grid-basic{
        width: 90%;
        margin; 0 auto;
    }
}