html,body {
    background-color: white;
}

h1{
    font-family: 'Fira Sans', sans-serif;
        color: red;
        font-size: 52px;
}

.photoset-grid-basic {
	width:1000px;
	margin:0 auto;
}

.one  {
    background-color:#CF1F04;
    width:69.5px;
    height:150px;
    float:left;
    border:1px solid white;
}

.two {
    background-color:#D31B03;
    width:69.5px;
    height:150px;
    float:left;
    border:1px solid white;
}

.three {
     background-color:#D81803;
    width:69.5px;
    height:150px;
    float:left;
    border:1px solid white;
}

.four {
    background-color:#DD1502;
    width:69.5px;
    height:150px;
    float:left;
    border:1px solid white;
}

.five {
     background-color:#E21202;
    width:69.5px;
    height:150px;
    float:left;
    border:1px solid white;
}

.six {
     background-color:#E70F02;
    width:69.5px;
    height:150px;
    float:left;
    border:1px solid white;
}

.seven {
     background-color:#EB0C01;
    width:69.5px;
    height:150px;
    float:left;
    border:1px solid white;
}

.eight {
     background-color:#F00901;
    width:69.5px;
    height:150px;
    float:left;
    border:1px solid white;
}

.nine {
     background-color:#F50600;
    width:69.5px;
    height:150px;
    float:left;
    border:1px solid white;
}

.ten {
     background-color:#FA0300;
    width:69.5px;
    height:150px;
    float:left;
    border:1px solid white;
}

.eleven  {
    background-color:#FF0000;
    width:69.5px;
    height:150px;
    float:left;
    border:1px solid white;
}

.twelve {
    background-color:#FF0D0D;
    width:69.5px;
    height:150px;
    float:left;
    border:1px solid white;
}

.thirteen {
     background-color:#FF1B1B;
    width:69.5px;
    height:150px;
    float:left;
    border:1px solid white;
}

.fourteen {
    background-color:#FF2929;
    width:69.5px;
    height:150px;
    float:left;
    border:1px solid white;
}

.fifteen {
     background-color:#FF3636;
    width:69.5px;
    height:150px;
    float:left;
    border:1px solid white;
}

.sixteen {
     background-color:#FF4444;
    width:69.5px;
    height:150px;
    float:left;
    border:1px solid white;
}

.seventeen {
     background-color:#FF5252;
    width:69.5px;
    height:150px;
    float:left;
    border:1px solid white;
}

.eightteen {
     background-color:#FF5F5F;
    width:69.5px;
    height:150px;
    float:left;
    border:1px solid white;
}

.nineteen {
     background-color:#FF6D6D;
    width:69.5px;
    height:150px;
    float:left;
    border:1px solid white;
}

.twenty {
     background-color:#FF7B7B;
    width:69.5px;
    height:150px;
    float:left;
    border:1px solid white;
}

@-webkit-keyframes super-red{
    0%   { background: red; } 
    20%   { background: black; } 
    40%  { background: white; }
    60%  { background: yellow; }
    80%  { background: blue; }
    100%  { background: red; }
}

.twenty{
     background: red;  
     -webkit-animation: super-red 4s infinite alternate linear;     
}

@media (max-width: 992px) {
    .photoset-grid-basic{
        width: 100%;
    }
}

@media (max-width: 768px) {
    .photoset-grid-basic{
        width: 100%;
    }
}

@media (max-width: 480px) {
    .photoset-grid-basic{
        width: 90%;
        margin; 0 auto;
    }
}