html,body {
    background-color: white;
    margin: 0;
}

h1{
    font-family: 'Fira Sans', sans-serif;
        color: yellow;
        font-size: 48px;
}
.photoset-grid-basic {
	width:1000px;
	margin:0 auto;

}

.container div{
    width: 5%;
    height:150px;
    float:left;
    border:1px solid white;
    box-sizing: border-box;
}

.one  {
    background-color:#FAC800;
}

.two {
    background-color:#FAD000;
}

.three {
     background-color:#FAD800;
}

.four {
    background-color:#FAE000;
}

.five {
     background-color:#FBE800;
}

.six {
     background-color:#FBF000;
}

.seven {
     background-color:#FBF800;
}

.eight {
     background-color:#FCFC00;
}

.nine {
     background-color:#FCFC00;
}

.ten {
     background-color:#FCFC00;
}

.eleven  {
    background-color:#FCFC00;
}

.twelve {
    background-color:#FBFB0C;
}

.thirteen {
     background-color:#FBFB19;
}

.fourteen {
    background-color:#FAFB26;
}

.fifteen {
     background-color:#FAFB33;
}

.sixteen {
     background-color:#F9FB4D;
}

.seventeen {
     background-color:#F8FA67;
}

.eightteen {
     background-color:#F7FA81;
}

.nineteen {
     background-color:#F6FA9B;
}

.twenty {
     background-color:#F6FAA8;
}

@-webkit-keyframes super-yellow {
    0%   { background: yellow; } 
    20%   { background: blue; } 
    40%  { background:red; }
    60%  { background:black; }
    80%  { background: white; }
    100%  { background: yellow; }
}

.twenty{
     background: yellow;  
      -webkit-animation: super-yellow 4s infinite alternate linear; 
}

@media (max-width: 992px) {
    .photoset-grid-basic{
        width: 100%;
    }
}

@media (max-width: 768px) {
    .photoset-grid-basic{
        width: 100%;
    }
}

@media (max-width: 480px) {
    .photoset-grid-basic{
        width: 90%;
        margin; 0 auto;
    }
}
